.gettingStarted {
    background-color: black;
    color: white;
    font-size: 60px;
    text-align: center;
    padding: 220px;
    margin: 30px;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5; /* Light background color */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
}

#formContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#formContainer label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: 500;
    opacity: 0.6;
    margin-bottom: 5px;
}

#formContainer input[type="text"],
#formContainer input[type="email"],
#formContainer input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

#formContainer button[type="submit"] {
    display: block; /* Change to block to make it easier to center */
    width: 100%; /* Make the button wider */
    padding: 15px 0; /* Increase padding */
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px; /* Add margin for spacing */
}

#formContainer button[type="submit"]:hover {
    background-color: rgb(190, 172, 172);
    color: black;
}

.hidden {
    display: none;
}

#formInfo {
    text-align: center;
    font-style: italic;
}

/* Additional styling for dynamically created elements */
.dynamicElementsContainer {
    background-color: #f5f5f5; /* Match the background color of the form container */
    border-radius: 20px; /* Match the border-radius of the form container */
    padding: 20px; /* Match the padding of the form container */
    margin-top: 20px; /* Add some space between the form and the dynamic elements */
    width: 70%; /* Set the width to 70% of the page */
    max-width: 600px; /* Limit the maximum width to maintain readability */
    margin: 0 auto; /* Center the container horizontally */
}

.additionalInfoForm label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: 500;
    opacity: 0.6;
    margin-bottom: 5px;
}

.additionalInfoForm input[type="text"],
.additionalInfoForm input[type="number"],
.additionalInfoForm input[type="email"],
.additionalInfoForm select {
    width: calc(100% - 22px); /* Adjust for padding and border */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.additionalInfoForm button[type="submit"] {
    display: block;
    width: calc(100% - 22px); /* Adjust for padding and border */
    padding: 15px 0;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
}

.additionalInfoForm button[type="submit"]:hover {
    background-color: rgb(190, 172, 172);
    color: black;
}

.resultContainer {
    margin-top: 20px; /* Add space between the table and the form */
}

.infoTable {
    width: 100%; /* Make the table fill its container */
    border-collapse: collapse; /* Collapse borders */
}

.infoTable th,
.infoTable td {
    border: 1px solid #ccc; /* Add borders to table cells */
    padding: 8px; /* Add padding to table cells */
    text-align: left; /* Align text to the left */
}

